.cabecalho{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6.3em;
	background-color: rgb(50 80 130);
}	
.cabecalho__logo{
	padding-left: 1.4em;
	padding-top: .5em;
	width: 9em;
}
.cabecalho__menu{
		opacity: 0;
}

@media(min-width: 740px) {
	.cabecalho{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	background-color: rgb(50 80 130);
}	
}

@media(min-width: 1050px) {
	.cabecalho{
	display: grid;
  	grid-template-columns: 10% 90%; /*Alterar resolucao */
	font-size: 1rem;
	font-weight: bold;
	letter-spacing:	.1em;
	color: #fff;
	}
	.cabecalho__menu{
	
	padding-left: 5em;
	padding-top: 1.2em;
	display: flex;	
	flex-wrap:	wrap;
	opacity: 1;
	}	
	.cabecalho__item-menu{
		padding-top: 0.8em;
		padding-left: 1.3em;
		display: inline-block;
	}

	.cabecalho__item-menu--matricular{
		margin-left: 5.5em;
		height: 1.5em;
		border-radius: 3px;
		background-color: #CD3333;
			}
	
	.cabecalho__item-menu--matricular a	{
			padding: 2em .8em;
			padding-left: .1em;
			}
}

@media(min-width: 1200px) {
	.cabecalho__menu{
		padding-left: 15.5em;
		}}



	

