.contato{
	padding-top: 1.2em;
	background-color: rgb(60 54 54);
	display: grid;
	grid-template-columns: 50% 50%;	
	color: #FFFFFF;
	font-size: 1.2em; 
	padding-left: 5%;
	padding-bottom: 1.5em;
}
.pContato{
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2em; 
}
.pTelefone{
	color: #FFFFFF;
	font-size: 1.2em; 
	padding-left: 2em; 
}
.img_icone{
    width: 30px;
    padding-right: .5em;
}
.img_icone2{
    width: 50px;
    padding-right: .1em;
}
.boxp1{
   	grid-column-start: 1;
   	grid-column-end: 2;
   	grid-row-start: 1;
   	grid-row-end: 1;
   	width: 23em;
}
.boxp2{
   	grid-column-start: 1;
   	grid-column-end: 2;
   	grid-row-start: 2;
   	grid-row-end: 2;
   	width: 23em;
}
.boxTel1{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 3;
   	grid-row-end: 3;
   	padding-top: 1em;
}
.boxTel2{
   	grid-column-start: 2;
   	grid-column-end: 2;
   	grid-row-start: 3;
   	grid-row-end: 3;
   	padding-top: 1em;
}
.boxTel3{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 4;
   	grid-row-end: 4;
   	padding-top: 1em;
}
.boxTel4{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 5;
   	grid-row-end: 5;
   	padding-top: 1em;
}
.boxTel5{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 6;
   	grid-row-end: 6;
   	padding-top: 1em;
}
.boxTel6{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 7;
   	grid-row-end: 7;
   	padding-top: 1em;
}
.boxTel7{
   	grid-column-start: 1;
   	grid-column-end: 1;
   	grid-row-start: 8
   	grid-row-end: 8;
   	padding-top: 1em;
}

