.imgNews{
	padding-top: 8em;
	width: 27.2em;
	max-height: 25em;
 }
.h1News{
	padding-top:1em;
	font-size: 1.8em;
	line-height: 1.2em;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	padding-bottom: 1.5em;
}
.pNews{
	padding-top:1em;
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	padding-bottom: 1em;
}

.newsLembrete{
	background-color: #C1CDCD;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 2em;
	font-size: .8em;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
}	
.limite{
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 1em;
	border-bottom: .1em;
	border-style: solid;
	border-color: #C1CDCD;
}
.postAnterior{
	margin-left: 5%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	color: #6495ED;
}

.imgBannerNews{
	padding-left: 4%;
	padding-right: 4%;
	width: 27.5em;
	height: 20em;
	padding-bottom: 1em;
}

	
