.imgNews{
	width: 100%;
	height: 100%;
 }
 .divimgNews{
 	margin-top: 8em;
 	margin-bottom: 3em;
 	width: 90%;
 	height: 25em;
 }
.h1News{
	padding-top:1em;
	font-size: 1.8em;
	line-height: 1.2em;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	padding-bottom: 1.5em;
}
.pNews{
	padding-top:1em;
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'Poppins', sans-serif;
	color: #000000;
	padding-bottom: 1em;
}

.newsLembrete{
	background-color: #C1CDCD;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 2em;
	font-size: .8em;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
}	
.limite{
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 1em;
	border-bottom: .1em;
	border-style: solid;
	border-color: #C1CDCD;
}
.postAnterior{
	margin-left: 5%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	color: #6495ED;
}
.wrapperImgPropagandaNews{
	display: grid;
	grid-template-columns:100%;
    grid-row-gap: .1em;
}
.boxImgNews{
	padding-left: 4%;
	padding-right: 4%;
 	padding-bottom: 1em;
 	padding-top: 2em;
 	width: 90%;
 	
}
.imgBannerNews{
	width: 100%;
	height: 100%;
}

	
